

/* ----------STYLES IMPRENTA-------- */
  body {
    height: 600vh;
  }

  .fondo {
    position: fixed;
    /* top: -100vh; */
    top: 5%;
    left: 100vw;
    /* left: 100vw; */
    width: 750vh;
    height: 80vh;
    z-index: 1;
    justify-content: flex-start;
  }

  /*                           IMPRENTA */

  .row.row-imp {
    justify-content: flex-start;
  }

  .galeria.imprenta {
    margin-left: 400px;
  }

  .cartel p {
    margin-top: 0;
  }

  .cartel {
    width: 420px;
    display: inline;
  }

  .text-cartel {

    /* background-color: white; */
    width: 400px;
    margin-left: 40px;
    margin-right: 100px;
    display: inline;
  }

  .img-imp {
    width: 400px;
  }




@media screen and (max-width: 1280px) {


  body {
    height: 700vh;
  }

  .fondo {
    width: 900vh;
    height: 80vh;
  }

}



@media screen and (max-width: 1024px) {


}

/* ________MEDIA QUERIES IPAD VERTICAL________  */
@media screen and (max-width: 768px) {

}

/* ________MEDIA QUERIES IPHONE________  */
@media screen and (max-width: 590px) {

}
