@font-face {
  font-family: SangBleuEmpire-Regular;
  font-weight: 200;
  src: url('fonts/SangBleuEmpire-Regular.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-RegularItalic;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-RegularItalic.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-Medium;
  font-weight: 400;
  src: url('fonts/SangBleuEmpire-Medium.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-Medium;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-MediumItalic.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-Bold;
  font-weight: 600;
  src: url('fonts/SangBleuEmpire-Bold.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-Bold;
  font-weight: 600;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-BoldItalic.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-Black;
  font-weight: 800;
  src: url('fonts/SangBleuEmpire-Black.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SangBleuEmpire-Black;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-BlackItalic.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: TimesDotRom;
  src: url('fonts/TimesDotRom.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: TimesDotBold;
  src: url('fonts/TimesDotBol.otf');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: TimesDotItalic;
  src: url('fonts/TimesDotItalic.otf');
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, a, p {
  color: red;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: white;
  color: white;
}

i {
  font-style: italic;
}

span.versalitas {
  font-variant: small-caps;
  letter-spacing: 0.2rem;
}

.bold-cv {
  font-size: 8rem;
  line-height: 8.4rem;
}

.cuerpo {
  max-width: 1366px;
  margin: auto;
}

a, p {
  font-family: "TimesDotRom";
}

h1 {
  font-family: "SangBleuEmpire-Medium";
  font-size: 7.7rem;
  line-height: 8.3rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.foot-note {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.row {
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

/* NAV */
.menu-b {
  font-size: 1.5rem;
  font-family: "TimesDotItalic";
  text-decoration: underline;
}

.menu-b:hover {
  font-family: "TimesDotRom";
  text-decoration: none;
}

.logo {
  font-family: "SangBleuEmpire-Medium";
  font-size: 1.5rem;
  font-style: italic;
}

.logo:hover {
  font-style: normal;
  color: red;
  text-decoration: none;
}

nav {
  z-index: 2;
}

.top {
  top: 0;
}

.foot {
  bottom: 0;
}

.top, .foot {
  padding-right: 40px;
  position: fixed;
  position: -webkit-fixed;
  margin: 15px;
}

footer {
  margin: 0 auto 20px;
  text-align: center;
  justify-content: center;
}

.rights p {
  font-size: 1rem;
}

/* ---------------------- HOME ----------------- */
/* -------- UNDER CNSTRUTION */
.construction {
  margin: 45px auto 0;
  padding: 8px 0;
  width: 85%;
  background-color: red;
  text-align: center;
  display: block;
}

.construction p {
  font-family: "SangBleuEmpire-Medium";
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0.5rem;
  color: white;
}

/* -------- */
.main-description p {
  width: 85%;
  font-size: 3.1rem;
  line-height: 3.4rem;
  margin: 50px auto 5%;
  text-align: left;
}

#selected-works {
  display: inline-block;
  margin: 2rem 0 2rem;
}

.project_name {
  display: inline-block;
  margin: 3rem auto 0;
}

.projects-menu {
  margin-bottom: 2rem;
  width: 85%;
  text-align: center;
  justify-content: center;
}

.menu:hover {
  font-style: italic;
  text-decoration: none;
  visibility: visible;
}

/* ------- IMAGENES PROYECTOS------- */
.project-home-image {
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: fixed;
  display: inline-block;
  opacity: 0%;
  transition: 0.4s;
}

a.h-welcome:hover+.project-home-image {
  background-image: url('images/welcome1.png');
  top: 180px;
  left: 25%;
  height: 60%;
  width: 50%;
  opacity: 100%;
}

a.h-que:hover+.project-home-image {
  opacity: 100%;
  top: 150px;
  left: 34%;
  height: 500px;
  width: 50%;
  background-image: url('images/8.jpg');
}

a.h-la-imprenta:hover+.project-home-image {
  opacity: 100%;
  top: 50px;
  left: 10%;
  height: 680px;
  width: 450px;
  background-image: url('images/hogar.jpg');
}

/* ------------PAGINA ABOUT---------------- */

body.about, .about h2, .about a, .about p {
  background: red;
  color: white;
}

.about-text {
  width: 85%;
  margin: 50px auto 5%;
}

.about-text p {
  color: white;
  font-size: 3.1rem;
  line-height: 3.4rem;
  margin-top: 2rem;
  text-align: left;
}

.about .logo:hover {
  color: white;
}

.about ::selection {
  /* body ::selection { */
  background-color: red;
  color: red;
}

.about a.links-about {
  text-decoration: underline;
}

.about a.links-about:hover {
  text-decoration: none;
  font-style: italic;
}

.about h1{
  color: white;
}

div.cv p {
  font-size: 1.1rem;
  line-height: 1.3rem;
 }

 h3.cv-tit {
   color: white;
   font-family: "SangBleuEmpire-Medium";
   font-size: 1.5rem;
   line-height: 1.9rem;
 }

 p.cv-text {
   margin: 0;
 }

 div.item-cv {
   margin-top: 1.8rem;
 }

 .cv {
   margin: 2rem 0;
 }

 .about .menu-b {
   text-align: center;
 }

 hr {
   text-align: center;
  border-color: white;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  width: 100%;
}


/* ------------PAGINA MISC---------------- */
.container-fluid.slideshow {
  justify-content: center;
  margin-bottom: 2%;
  height: 100vh;
  overflow: hidden;
  /* cursor: pointer; */
  position: relative;
}

.slideshow img {
  position: absolute;
  height: 100vh;
  /* height: 100vh; */
  z-index: 0;
}

.slideshow img:first-child {
  z-index: 1;
}

/* _______Cursor Cambiar---_____ */
body.cursor-misc {
  cursor: url('images/cursors/cursor-1.png')0 0, pointer;
}

.div-cursor-misc {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: url('images/cursors/cursor-1.png')0 0, pointer;
  /* z-index: -1; */
}

/* ------------PAGINA PROYECTOS---------------- */
/* DESCRIPCION PROYECTO */
.container-projects {
  display: flex;
  flex-direction: column-reverse;
}

.projects-desc {
  width: 72.25%;
  margin: 50px auto 5%;
  position: sticky;
  position: -webkit-sticky;
  bottom: 14vh;
  text-align: center;
  z-index: -1;
}

.text-project {
  margin-bottom: 5%;
  text-align: left;
  column-count: 2;
  column-gap: 40px;
}

.indent {
  text-indent: 3rem;
}

.tags {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  font-variant: small-caps;
}

.row.arrow {
  justify-content: space-between;
  position: fixed;
  position: -webkit-fixed;
  bottom: 16vh;
  left: 0;
  z-index: 2;
}

.next, .prev {
  display: inline;
  padding: 10px;
  width: 8.2rem;
}

.title-mobile {
  display: none;
}

/* IMAGES PROYECTO */
.galeria {
  width: 85%;
  padding: 0;
  z-index: 1;
}

.img-margin {
  display: inline;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
}

/*                 DESKTOP   modificar segun cada proyecto */
/*                           Welcome */
.galeria.welcome {
  margin: 800px auto -550px;
}

.galeria.welcome-m {
  display: none;
}

/*                           Schweine */
.galeria.schweine {
  margin: 1050px auto -960px;
}

.galeria.schweine-m {
  display: none;
}

/*                          miss */
.galeria.miss {
  margin: 850px auto -550px;
}

.galeria.miss-m {
  display: none;
}

/*                           Design */
.galeria.design {
  margin: 1300px auto -800px;
}

.galeria.design-m {
  display: none;
}

/*                           UNA Y UNA */
.galeria.unayuna {
  margin: 1250px auto -1100px;
}

.galeria.unayuna-m {
  display: none;
}

/*                           IMPRENTA */
.galeria.imprenta {
  margin: 1150px auto -550px;
}

/*                           Que */
.galeria.que {
  margin: 1250px auto -850px;
}

/* ________MEDIA QUERIES IPAD HORIZONTAL________  */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 6rem;
    line-height: 6.3rem;
  }

  .project_name {
    margin: 2.3rem auto 0;
  }

  .projects-desc {
    width: 75%;
  }

  .galeria {
    width: 80%;
  }

  .mobile {
    display: none;
  }
}

/* ________MEDIA QUERIES IPAD VERTICAL________  */
@media screen and (max-width: 768px) {
  .title-mobile {
    /* position: static;
    visibility: visible; */
    display: block;
  }

  .title {
    display: none;
  }

  .menu-b {
    font-size: 1.3rem;
  }

  .logo {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 5.3rem;
  }

  .indent {
    text-indent: 1.5rem;
  }

  footer {
    margin-bottom: 10px;
  }

  .main-description p {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .project-menu {
    margin-bottom: 0rem;
  }

  .project_name {
    margin: 1.3rem 0;
  }

  .projects-desc {
    width: 80%;
    margin: 10% auto 0;
    bottom: 27vh;
  }

  .text-project {
    margin: 7% auto 0;
    column-count: 1;
  }

  .tags {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .row.arrow {
    bottom: 10vh;
  }

  .next, .prev {
    width: 5.4rem;
  }

  .galeria {
    width: 80%;
  }

  /*                IPAD       modificar segun cada proyecto */
  /*                         WELCOME */
  .galeria.welcome {
    display: none;
  }

  .galeria.welcome-m {
    margin: 1050px auto -900px;
    display: block;
  }

  /*                           Schweine */
  .galeria.schweine {
    display: none;
  }

  .galeria.schweine-m {
    display: block;
    margin: 1350px auto -1250px;
  }

  /*                         MISS  */
  .galeria.miss {
    margin: 1200px auto -1000px;
  }

  /*                         DESIGN */
  .galeria.design {
    margin: 1500px auto -1400px;
  }

  /*                           UNA Y UNA */
  .galeria.unayuna {
    display: none;
  }

  .galeria.unayuna-m {
    display: block;
    margin: 1820px auto -1650px;
  }
}

/* ________MEDIA QUERIES IPHONE________  */
@media screen and (max-width: 590px) {
  .menu-b {
    font-size: 1rem;
  }

  .logo {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .foot-note {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .rights p {
    font-size: 0.8rem;
  }

  .main-description p {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .project_name {
    margin: 0.6rem 0;
  }

  .projects-desc {
    margin: 15% auto 0%;
    bottom: 12vh;
  }

  .text-project {
    margin: 12% auto 0;
  }

  .row.arrow {
    bottom: 20vh;
  }

  .next, .prev {
    width: 3.4rem;
  }

  .galeria {
    width: 90%;
  }

  /*             MOBILE  modificar segun cada proyecto */
  /*                         WELCOME */
  .galeria.welcome-m {
    margin: 1150px auto -1150px;
  }

  /*                           Schweine */
  .galeria.schweine-m {
    margin: 1350px auto -1350px;
  }

  /*                         MISS  */
  .galeria.miss {
    display: none;
  }

  .galeria.miss-m {
    display: block;
    margin: 1250px auto -1200px;
  }

  /*                         DESIGN  */
  .galeria.design {
    display: none;
  }

  .galeria.design-m {
    display: block;
    margin: 1600px auto -1570px;
  }

  /*                           UNA Y UNA */
  .galeria.unayuna-m {
    display: block;
    margin: 2100px auto -2100px;
  }
}
