/* ----------STYLES IMPRENTA 1800px-------- */
body {
  height: 400vh;
}

.fondo {
  position: fixed;
  position: -webkit-fixed;
  -moz-position: -webkit-fixed;
  top: 5%;
  left: 100vw;
  width: 570vh;
  height: 80vh;
  z-index: 1;
  justify-content: flex-start;
}

footer.mobile-imp {
  display: none;
}

/*                           IMPRENTA */
.galeria.imprenta-m {
  display: none;
}

.row.row-imp {
  justify-content: flex-start;
}

.cartel p {
  margin-top: 0;
}

.cartel {
  width: 420px;
  /* display: inline; */
}

.text-cartel {
  /* background-color: white; */
  width: 400px;
  margin-left: 40px;
  margin-right: 100px;
  display: inline;
}

.img-imp {
  width: 400px;
}

@media screen and (max-width: 1400px) {
  body {
    height: 500vh;
  }

  .fondo {
    width: 650vh;
    height: 90vh;
  }

  .galeria.imprenta {
    margin-left: 0px;
  }
}

@media screen and (max-height: 700px) {

  /* CHROMEEEEEE @media screen and (max-width: 1280px) */
  body {
    height: 650vh;
  }

  .fondo {
    width: 900vh;
    height: 80vh;
  }
}

@media screen and (max-width: 1024px) {
  body {
    height: 750vh;
  }

  .fondo {
    width: 900vh;
    height: 80vh;
  }
}

/* ________MEDIA QUERIES IPAD VERTICAL________  */
@media screen and (max-width: 768px) {
  body {
    height: auto;
  }

  .fondo {
    display: none;
  }

  footer.mobile-imp {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    justify-content: center;
  }

  .carteles {
    background-color: white;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
  }

  .img-margin {
    display: block;
    padding: 0;
    margin-bottom: 0px;
  }

  .text-cartel-m {
    word-wrap: break-word;
    text-align: left;
    padding: 40px 20px 50px;
    display: block;
  }

  .galeria.imprenta-m {
    margin: 1200px auto -1100px;
    display: inline-block;
  }
}

/* ________MEDIA QUERIES IPHONE________  */
@media screen and (max-width: 590px) {
  .galeria.imprenta-m {
    margin: 1150px auto -1100px;
  }
}
