@font-face {
  font-family: SangBleuEmpire-Regular;
  font-weight: 200;
  src: url('fonts/SangBleuEmpire-Regular.otf');
}

@font-face {
  font-family: SangBleuEmpire-RegularItalic;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-RegularItalic.otf');
}

@font-face {
  font-family: SangBleuEmpire-Medium;
  font-weight: 400;
  src: url('fonts/SangBleuEmpire-Medium.otf');
}

@font-face {
  font-family: SangBleuEmpire-Medium;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-MediumItalic.otf');
}

@font-face {
  font-family: SangBleuEmpire-Bold;
  font-weight: 600;
  src: url('fonts/SangBleuEmpire-Bold.otf');
}

@font-face {
  font-family: SangBleuEmpire-Bold;
  font-weight: 600;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-BoldItalic.otf');
}

@font-face {
  font-family: SangBleuEmpire-Black;
  font-weight: 800;
  src: url('fonts/SangBleuEmpire-Black.otf');
}

@font-face {
  font-family: SangBleuEmpire-Black;
  font-style: italic;
  src: url('fonts/SangBleuEmpire-BlackItalic.otf');
}

@font-face {
  font-family: TimesDotRom;
  src: url('fonts/TimesDotRom.otf');
}

@font-face {
  font-family: TimesDotBold;
  src: url('fonts/TimesDotBol.otf');
}

@font-face {
  font-family: TimesDotItalic;
  src: url('fonts/TimesDotItalic.otf');
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, a, p {
  color: #FF0202;
}

a, p {
  font-family: "TimesDotRom";
}

h1 {
  font-family: "SangBleuEmpire-Medium";
  font-size: 9vw;
    line-height: 9.2vw;
}

.row {
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

/* NAV */

.menu-b {
  font-size: 1.8vw;
  font-family: "TimesDotItalic";
  text-decoration: underline;
}

.menu-b:hover {
  font-family: "TimesDotRom";
  text-decoration: none;
}

.logo {
  font-family: "SangBleuEmpire-Medium";
  font-size: 1.8vw;
  font-style: italic;
}

.logo:hover {
  font-style: normal;
  color: #FF0202;
  text-decoration: none;
}

.top {
  top: 0;
}

.foot {
  bottom: 0;
}

.top, .foot {
  padding-right: 40px;
  position: fixed;
  margin: 15px;
}


/* HOME */

.main-description {
  width: 85%;
  font-size: 3.8vw;
  line-height: 4.1vw;
  margin: 5% auto 5%;
  text-align: left;
}


.selected-works {
  margin-top: 10px;
  /* Como hacer para que no aparezca pegado arriba del browser sino a la altura de los botones (10px) */
}

.project_name {
  display: inline-block;
  margin: 4vw auto 0;
}

.projects-menu{
  width: 85%;
  text-align: center;
  justify-content: center;
}

.menu:hover {
  font-style: italic;
  text-decoration: none;
  visibility: visible;
}

.rights {
  font-size: 2.2vh;
  margin: 4vh auto 20px;
  text-align: center;
  justify-content: center;

}



/* PAGINA PROYECTOS */

  /* DESCRIPCION PROYECTO */

.container {
  display: flex;
  flex-direction: column-reverse;
}

.projects-desc {
width: 72.25%;
/* % del container */
margin: 5% auto 5%;
position: sticky;
bottom: 60px;
text-align: center;
}

  .text-project {
    margin-bottom: 5%;
    text-align: left;
    font-size: 2vw;
    line-height: 2.3vw;
    column-count: 2;
  }

  .tags {
    font-size: 1.6vw;
    line-height: 1.7vw;
    letter-spacing: 0.25vw;
    font-variant: small-caps;

  }

/* IMAGES PROYECTO */

.galeria {
  width: 85%;
  /* % del container */
  padding: 0;
  margin: 650px auto auto;
}


.img-margin {
  display: inline;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
}



.next, .prev {
  display: inline;
  height: 8vw;
}

.row.arrow {
  display: relative;
  justify-content: space-between;
  /* Esto no funciona, lo que quiero es que se quede quieto en el fondo */
  position: fixed;
  top: 30vw;
  left: 0;
}

.titel-mobile {
  margin-top: 15px;
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 590px) {
  .titel-mobile {
    position: static;
    visibility: visible;
  }

  .title {
    position: absolute;
    visibility: hidden;
  }

  h2 {
    font-size: 4vw;
  }

  p {
    font-size: 6vw;
    line-height: 6.5vw;
  }

  .project_name h1 {
    font-size: 10vw;
    line-height: 11.2vw;
    margin: -30px auto 0;
  }

  .project_name_menu h1 {
    font-size: 10vw;
    line-height: 10.2vw;
    margin: 5vw auto 0;
  }

  .description {
    margin: 17% auto 8%;
  }

  .tags {
    font-size: 4vw;
    line-height: 4.7vw;
    letter-spacing: 0.25vw;
  }

  .text-project {
    margin: 10% auto 5%;
    font-size: 5.2vw;
    line-height: 7vw;
    column-count: 1;
  }

  .row.arrow {
    /* Esto no funciona, lo que quiero es que se quede quieto en el fondo */
    top: 50vw;
  }

  .next, .prev {
    display: inline;
    height: 15vw;
  }
}
